<h1>質問一覧</h1>

<% @questions.each do |question| %>
  <h2>
    <%= link_to question_path(question) do %><%= question.title %><% end %>
  </h2>
  <p>
    <%= link_to user_path(question.user) do %><%= question.user.name %><% end %>
  </p>
  <%= render partial: "tags/tag_list", locals: {tags: question.tags} %>
  <div class="question-<%= question.id %>-favorite-button">
    <%= render partial: "favorites/favorite_button", locals: {question: question} %>
  </div>
  <p>更新日時 :<%= date_japan(question.updated_at) %></p>
  <hr>
<% end %>
