<div class="row">
  <div class="col-md-12 col-sm-12">
    <h2><%= @question.title %></h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-sm-1 text-center">
    <div id="vote-question">
      <%= render partial: "votes/vote_question", locals: {question: @question} %>
    </div>
    <div class="question-<%= @question.id %>-favorite-button">
      <%= render partial: "favorites/favorite_button", locals: {question: @question} %>
    </div>
  </div>

  <div class="col-md-11 col-sm-11">
    <%= markdown(@question.content).html_safe %>
    <p>tag</p>
    <p><%= @question.user.name %></p>
    <p>更新日時 :<%= date_japan(@question.updated_at) %></p>
    <%= render partial: "tags/tag_list", locals: {tags: @question.tags} %>

    <% if is_current_user?(@question.user) %>
      <%= link_to edit_question_path(@question) do %>
        <div class="btn btn-default">編集</div>
      <% end %>
      <%= link_to question_path(@question), method: :delete, data: { confirm: "本当に削除して良いですか？"} do %>
        <div class="btn btn-danger">削除</div>
      <% end %>
    <% end %>
     <hr>
   </div>
 </div>

 <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
 <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
