<h1>質問詳細</h1>

<h2><%= @question.title %></h2>
<hr>
<%= markdown(@question.content).html_safe %>
<p>tag</p>
<p><%= @question.user.name %></p>
<p>更新日時 :<%= date_japan(@question.updated_at) %></p>
<%= render partial: "tags/tag_list", locals: {tags: @question.tags} %>
<div class="question-<%= @question.id %>-favorite-button">
  <%= render partial: "favorites/favorite_button", locals: {question: @question} %>
</div>
<hr>
<%= link_to "編集", edit_question_path(@question) %>
 /
<%= link_to "削除", question_path(@question), method: :delete, data: { confirm: "本当に削除して良いですか？"} %>
 /
 <%= link_to "戻る", :back %>

 <h3>回答一覧</h3>
 <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
 <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
