<div class="row align-items-center">
  <div class="col-sm-4 col-sm-offset-4">

    <div class="panel panel-style-01-original">
      <h1 class="text-center">確認メール送信</h1>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'application/display_simple_form_error', form_error: f.error_notification %>
        <div class="form-group">
          <%= f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "メールアドレス", input_html: { class: "form-control"},label:false %>
        </div>

        <p class="text-center">
          <%= f.submit "確認メール送信", class: "btn btn-info" %>
        </p>
      <% end %>

    <!-- /.panel-style-01-original--></div>
    <%= render "devise/shared/links" %>
  </div>
</div>