<% if is_current_user?(@user) %>
  <h1>マイページ</h1>
<% else %>
  <h1><%= @user.name %>さんの詳細</h1>
<% end %>

<%= profile_img(@user) %><br>
名前：<%= @user.name %><br>
プロフィール：<%= @user.profile %>
<% if is_blank?(@user.profile) %>
  <%= "#{@user.name}さんの自己紹介は未記入です。"  %><br>
<% end %>
e-mail：<%= @user.email %><br>
質問数 <%= @questions.count %>回<br>
回答数 <%= @answers.count %>回<br>

<% if is_current_user?(@user) %>
  <%= link_to "編集", edit_user_registration_path, class: 'btn btn-default btn-sm btn-success' %>
<% end %>

<h2>投稿した質問</h2>
<%= "#{@user.name}さんの質問はありません。" if @questions.empty? %>
<% @questions.each do |question| %>
  <%= link_to question.title, question_path(question.id) %><br>
  <%= question.votes.count %>票<br>
  <%= question.created_at %><hr>
<% end %>

<h2>投稿した回答</h2>
<%= "#{@user.name}さんの回答はありません。" if @questions.empty? %>
<% @answers.each do |answer| %>
  <%= link_to answer.question.title, question_answer_path(answer.question.id, answer.id) %><br>
  <%= answer.votes.count %>票<br>
  <%= answer.created_at %><hr>
<% end %>
