<% if current_user.id == @user.id %>
  <h1>マイページ</h1>
<% else %>
  <h1><%= @user.name %>さんの詳細</h1>
<% end %>


名前：<%= @user.name %><br>
プロフィール：<%= @user.profile %>
<%= "#{@user.name}さんの自己紹介は未記入です。" if @user.profile.empty? %><br>
e-mail：<%= @user.email %><br>
質問数 <%= @questions.count %>回<br>
回答数 <%= @answers.count %>回<br>
<%= link_to "編集", edit_user_registration_path, class: 'btn btn-default btn-sm btn-success' %>

<h2>投稿した質問</h2>
<%= "#{@user.name}さんの質問はありません。" if @questions.empty? %>
<% @questions.each do |question| %>
 <%= link_to question.title, question_path(question.id) %><br>
 <%= question.vote.to_i %>票<br>
 <%= question.created_at %><hr>
<% end %>

<h2>投稿した回答</h2>
<%= "#{@user.name}さんの回答はありません。" if @questions.empty? %>
<% @answers.each do |answer| %>
 <%= link_to answer.content, answer_path(answer.id) %><br>
 <%= answer.vote.to_i %>票<br>
 <%= answer.created_at %><hr>
<% end %>
