<div class="row align-items-center">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-style-01-original">
      <h1 class="text-center">パスワードリセット</h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'application/display_simple_form_error', form_error: f.error_notification %>

        <div class="form-group">
          <%= f.input :email, autofocus: true, placeholder: "メールアドレス", input_html: { class: "form-control"},label:false %>
        </div>
        <p class="text-center">
          <%= f.submit "パスワードリセットメール送信", class: "btn btn-info" %>
        </p>
      <% end %>
    <!-- /.panel-style-01-original--></div>
    <%= render "devise/shared/links" %>
  </div>
</div>
