<h1>ランキング</h1>

<% @questions.each_with_index do |question, i| %>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <p>順位：<%= i + 1 %>位</p>
      <p>お気に入り数：<%= question.favorites_count %></p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>
        <%= link_to question_path(question) do %><%= question.title %><% end %>
      </p>
      <ul class="list-inline">
        <li class="pull-left">
          <%= render partial: "tags/tag_list", locals: {tags: question.tags} %>
        </li>
        <li class="pull-right">
          更新日時 :<%= date_japan(question.updated_at) %>
          <%= link_to user_path(question.user) do %><%= question.user.name %><% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-sm-12">
      <hr>
    </div>
  </div>
<% end %>
