<div class="row">
  <div class="col-md-12 col-sm-12">
    <h3><%= answers.count %>件の回答</h3>
  </div>
</div>
<% answers.each do |answer| %>
  <% unless answer.id.nil? %>
    <div class="row">
      <div class="col-md-1 col-sm-1 text-center">
        <div id="vote-answer">
          <%= render partial: "votes/vote_answer", locals: {answer: answer} %>
        </div>
      </div>
      <div class="col-md-11 col-sm-11">
        <div>
          <%= markdown(answer.content).html_safe %>
        </div>
        <p>回答者：<%= answer.user.name %></p>
        <% if is_current_user?(answer.user) %>
          <%= link_to edit_question_answer_path(answer.question,answer) do %>
            <div class="btn btn-default">編集</div>
          <% end %>
          <%= link_to question_answer_path(answer.question,answer), method: :delete, data: { confirm: "本当に削除して良いですか？"} do %>
            <div class="btn btn-danger">削除</div>
          <% end %>
        <% end %>
        <hr>
      </div>
    </div>
  <% end %>
<% end %>
