<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <div class="panel panel-style-01-original">
      <h1 class="text-center">ログイン</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'application/display_form_error', form_error: resource %>
        <div class="form-group">
          <%= f.input :email, autofocus: true, placeholder: "メールアドレス", input_html: { class: "form-control"}, label: false %>
        </div>

        <div class="form-group">
          <%= f.input :password, autocomplete: "off", placeholder: "パスワード", input_html: { class: "form-control"}, label: false %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <p class="text-center">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </p>
      <% end %>
    <!-- /.panel-style-01-original--></div>

    <%= render "devise/shared/links" %>
  </div>
</div>
