<div>
  <% if current_user.voting_answer?(answer) %>
    △
    <%= form_for(current_user.votes.find_by(answer_id: answer.id), html: {method: :delete}) do |f| %>
      <%= f.submit "▽" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.votes.build(answer_id: answer.id)) do |f| %>
      <%= f.hidden_field :answer_id %>
      <%= f.submit "△" %>
    <% end %>
    ▽
  <% end %>
</div>
