<div>
  <% if current_user %>
    <% if current_user.question_voting_plus_or_minus_or_nil(@question) == 1 %>
      <div class="fa fa-caret-up fa-3x fa-cannot-vote"></div>
      <div class="vote-point"><%= @question.voted_point %></div>
      <%= link_to question_vote_path(@question,@question.votes.find_by(user_id: current_user.id), params: {question_or_answer: "question"}), method: :delete, remote: true do %>
        <div class ="fa fa-caret-down fa-3x fa-can-vote"></div>
      <% end %>
    <% elsif current_user.question_voting_plus_or_minus_or_nil(@question) == -1 %>
    <%= link_to question_vote_path(@question,@question.votes.find_by(user_id: current_user.id), params: {question_or_answer: "question"}), method: :delete, remote: true do %>
        <div class="fa fa-caret-up fa-3x fa-can-vote"></div>
      <% end %>
      <div class="vote-point"><%= @question.voted_point %></div>
      <div class="fa fa-caret-down fa-3x fa-cannot-vote"></div>
    <% else %>
      <%= link_to question_votes_path(@question, params: {is_up: true, question_or_answer: "question"}), method: :post, remote: true do %>
        <div class="fa fa-caret-up fa-3x fa-can-vote"></div>
      <% end %>
      <div class="vote-point"><%= @question.voted_point %></div>
      <%= link_to question_votes_path(@question, params: {is_up: false, question_or_answer: "question"}), method: :post, remote: true do %>
        <div class="fa fa-caret-down fa-3x fa-can-vote"></div>
      <% end %>
    <% end %>
  <% end %>
</div>
