<div>
  <% if current_user %>
    <% if current_user.question_voting_plus_or_minus_or_nil(@question) == 1 %>
      <div>△</div>
      <div><%= @question.voted_point %></div>
      <%= link_to question_vote_path(@question,@question.votes.find_by(user_id: current_user.id)), method: :delete do %>
        <div>▽</div>
      <% end %>
    <% elsif current_user.question_voting_plus_or_minus_or_nil(@question) == -1 %>
    <%= link_to question_vote_path(@question,@question.votes.find_by(user_id: current_user.id)), method: :delete do %>
        <div>△</div>
      <% end %>
      <div><%= @question.voted_point %></div>
      <div>▽</div>
    <% else %>
      <%= link_to question_votes_path(@question, params: {is_up: true}), method: :post do %>
        <div>△</div>
      <% end %>
      <div><%= @question.voted_point %></div>
      <%= link_to question_votes_path(@question, params: {is_up: false}), method: :post do %>
        <div>▽</div>
      <% end %>
    <% end %>
  <% end %>
</div>
